@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;600&family=Press+Start+2P&display=swap');

body {
    background-color: #22134c;
    color: #f9f9f9;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    display: inline-block;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 24px;
    margin-bottom: 16px;
}

h2 {
    font-size: 22px;
    margin-left: 32px;
    letter-spacing: 1.2px;
    font-family: 'Noto Sans', sans-serif;
}


p {
   margin: 16px 0;
}

.container {
    margin: 0 auto;
    width: 70vw;
}

.titles-wrap {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

.titles-wrap img {
    height: 50px;
    margin-right: 24px;
}

#game-info {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Press Start 2P', sans-serif;
}

#board {
    position: relative;
    background-image: url(../images/grass-field.jpg);
    background-size: cover;
    width: 40vw;
    height: 40vw;
}

#player, .target, .obstacle {
    position: absolute;
    right: 0;
    bottom: 0;
}

#player {
    background-image: url('../images/hungry-fly.gif');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 50;
}

.target {
    background-image: url('../images/poop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 30;
    opacity: 1;
    transition: all 1s;
}

.obstacle {
    background-image: url('../images/electric-fence.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
}

.vertical-obstacle {
    background-image: url('../images/electric-fence-vertical.png');
}

.btn {
    padding: 16px 24px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #81b009;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 32px;
    display: inline-block;
    transition: ease-in-out .2s;
}

.btn:hover {
    background-color: white;
    color: #22134c;
}

.rotate-up {
    transform: rotate(270deg);
}
  
.rotate-down {
transform: rotate(90deg);
}

.rotate-left {
transform: rotate(180deg);
}

.rotate-right {
transform: rotate(0deg);
}

.hidden {
    opacity: 0;
} 

#page-gameover .container {
    padding-top: 15vh;
    text-align: center;
}

#page-gameover h1 {
    text-transform: uppercase;
}

#page-gameover img {
    max-width: 360px;
}
